body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

    .login-box h2 {
        margin-bottom: 30px;
        text-align: center;
        color: #333;
    }

.textbox {
    position: relative;
    margin-bottom: 20px;
}

    .textbox input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

        .textbox input:focus {
            border-color: #007bff;
        }

.btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .btn:hover {
        background-color: #0056b3;
    }

img {
    max-width: 150px; 
    height: auto;
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    color: #007bff; 
}
